<template>
  <div style="margin-top: -1px;">
    <v-card outlined tile flat @click="expanded = !expanded">
      <v-row no-gutters>
        <v-col cols="auto" class="shrink pa-4 d-flex align-center justify-center">
          <v-avatar>
            <v-img src="https://www.gstatic.com/flights/airline_logos/70px/LO.png"/>
          </v-avatar>
        </v-col>
        <v-col cols="auto" class="grow px-0 py-4">
          <v-list class="ma-0 pa-0">
            <v-list-item class="ma-0 pa-0">
              <v-list-item-content class="ma-0 pa-0">
                <v-list-item-title>
                  Mon, Mar 27 6:10PM - 10:45PM
                </v-list-item-title>
                <v-list-item-subtitle>
                  LOT
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="auto" class="grow px-0 py-4">
          <v-list class="ma-0 pa-0">
            <v-list-item class="ma-0 pa-0">
              <v-list-item-content class="ma-0 pa-0">
                <v-list-item-title>
                  5 ore 35 min
                </v-list-item-title>
                <v-list-item-subtitle>
                  OTP - CDG
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="auto" class="grow px-0 py-4">
          <v-list class="ma-0 pa-0">
            <v-list-item class="ma-0 pa-0">
              <v-list-item-content class="ma-0 pa-0">
                <v-list-item-title>
                  1 escală
                </v-list-item-title>
                <v-list-item-subtitle>
                  1 oră 15 min WAW
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="auto" class="grow px-0 py-4">
          <v-list class="ma-0 pa-0">
            <v-list-item class="ma-0 pa-0">
              <v-list-item-content class="ma-0 pa-0">
                <v-list-item-title style="color: #9C27B0">
                  RON 989
                </v-list-item-title>
                <v-list-item-subtitle>
                  by IRIX
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="auto" class="shrink pa-4 d-flex align-center justify-center">
          <v-btn depressed dark color="#9C27B0">
            Rezerva
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-expand-transition>
      <v-card v-if="expanded" outlined tile flat style="margin-top: -1px">
        <div class="pa-4">
          <v-row no-gutters>
            <v-col cols="auto" class="grow">
              <v-row no-gutters>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div class="dot"></div>
                </v-col>
                <v-col cols="auto" class="shrink pl-2">
                  6:10 PM • Henri Coandă International Airport (OTP)
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div style="width: 100%"></div>
                </v-col>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div class="line"></div>
                </v-col>
                <v-col cols="auto" class="shrink pl-2 py-4">
                  <div class="text--secondary" style="font-size: 14px">
                    <v-icon small>mdi-clock-outline</v-icon>
                    1 oră 50 min
                  </div>
                  <div class="text--secondary" style="font-size: 14px">
                    aici mai putem adauga alte info
                  </div>
                  <div class="text--secondary" style="font-size: 14px">
                    iar dotted-line-ul din stanga o sa creasca in mod corespunzator
                  </div>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div class="dot"></div>
                </v-col>
                <v-col cols="auto" class="shrink pl-2">
                  7:00PM • Warsaw Chopin Airport (WAW)
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="auto">
                  <div class="pt-2 text--secondary" style="font-size: 12px">
                    LOT • Economy • Boeing 737 • LO 646
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="auto" class="shrink">
              <div style="font-size: 14px" class="ma-n1">
                <v-chip small outlined class="ma-1"><v-icon left size="14px">mdi-seat-legroom-normal</v-icon>Clasa A</v-chip>
                <v-chip small outlined class="ma-1"><v-icon left size="14px">mdi-wifi</v-icon>Wi-Fi la bord</v-chip>
                <v-chip small outlined class="ma-1"><v-icon left size="14px">mdi-molecule-co2</v-icon>Fără emisii CO<sub>2</sub></v-chip>
              </div>
            </v-col>
          </v-row>
        </div>
        <v-divider class="mx-4"/>
        <div class="px-4 py-2">
          <v-row no-gutters>
            <v-col cols="auto">
              <div style="font-size: 14px">
                <v-icon left size="14">mdi-clock-outline</v-icon>
                1 oră 15 min escală • Varșovia (WAW)
              </div>
            </v-col>
          </v-row>
        </div>
        <v-divider class="mx-4"/>
        <div class="pa-4">
          <v-row no-gutters>
            <v-col cols="auto" class="grow">
              <v-row no-gutters>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div class="dot"></div>
                </v-col>
                <v-col cols="auto" class="shrink  pl-2">
                  8:15PM • Warsaw Chopin Airport (WAW)
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div style="width: 100%"></div>
                </v-col>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div class="line"></div>
                </v-col>
                <v-col cols="auto" class="shrink pl-2 py-4">
                  <div class="text--secondary" style="font-size: 14px">
                    <v-icon small>mdi-clock-outline</v-icon>
                    2 ore 30 min
                  </div>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="auto" class="shrink d-flex align-center justify-center">
                  <div class="dot"></div>
                </v-col>
                <v-col cols="auto" class="shrink pl-2">
                  10:45 PM • Paris Charles de Gaulle Airport (CDG)
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="auto">
                  <div class="pt-2 text--secondary" style="font-size: 12px">
                    LOT • Economy • Boeing 737 • LO 646
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="auto" class="shrink">
              <div style="font-size: 14px" class="ma-n1">
                <v-chip small outlined class="ma-1"><v-icon left size="14px">mdi-seat-legroom-normal</v-icon>Clasa A</v-chip>
                <v-chip small outlined class="ma-1"><v-icon left size="14px">mdi-wifi</v-icon>Wi-Fi la bord</v-chip>
              </div>
            </v-col>
          </v-row>
        </div>
      </v-card>
    </v-expand-transition>
  </div>
</template>

<script setup>
import {ref} from "vue";

const expanded = ref(false)
</script>

<style scoped>
.dot {
  border: 2px solid rgba(0, 0, 0, .12);
  border-radius: 12px;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
}

.line {
  border-right: 4px dotted rgba(0, 0, 0, .12);
  flex: 1;
  width: 8px;
  height: 100%;
}
</style>
