<template>
  <v-app>
    <v-main>
      <v-container style="max-width: 950px">
        <my-airplane-card/>
        <my-airplane-card/>
        <my-airplane-card/>
        <my-airplane-card/>
        <my-airplane-card/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import MyAirplaneCard from './components/myAirplaneCard.vue';

export default {
  components: {
    MyAirplaneCard,
  }
};
</script>
